<article>
    <button mat-raised-button (click)="addNewFeature()">New Feature</button>
</article>
<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Technical Name</th>
            <th scope="col">Expires On</th>
            <th scope="col">Description</th>
            <th scope="col">Inverted</th>
            <th scope="col">Acrchived</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let feature of featureFormArray.controls; index as idx">
            <td style="text-align: center;">
                {{feature.controls.featureId.value}}
                <input hidden [formControl]="feature.controls.featureId" />
            </td>
            <td>
                <input type="text" [formControl]="feature.controls.displayName" />
            </td>
            <td>
                <input type="text" [formControl]="feature.controls.technicalName" />
            </td>
            <td style="text-align: center;">
                <div class="datepicker">
                    <div>
                        <input matInput [formControl]="feature.controls.expiresOn" [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    <div class="date-toggle">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    </div>
                </div>
            </td>
            <td>
                <input type="text" [formControl]="feature.controls.description" />
            </td>
            <td style="text-align: center;">
                <button mat-raised-button
                    (click)="changeBooleanField(idx, 'inverted')">{{feature.controls.inverted.value ? 'Yes' : 'No'}}</button>
                <input hidden type="text" [formControl]="feature.controls.inverted" />
            </td>
            <td style="text-align: center;">
                <button mat-raised-button
                    (click)="changeBooleanField(idx, 'archived')">{{feature.controls.archived.value ? 'Yes' : 'No'}}</button>
                <input hidden type="text" [formControl]="feature.controls.archived" />
            </td>
            <td>
                <button mat-raised-button color="warn" (click)="deleteFeature(idx)">X</button>
            </td>
        </tr>
    </tbody>
</table>