<article class="body">
  <div class="search-input">
    <label>Customer ID: <span *ngIf="customerId.status === 'INVALID'">should be consist only of digits..</span></label>
    <input type="text" [formControl]="customerId">
  </div>
  <div class="features">
    <div class="feature" *ngFor="let feature of featureNames">
      <mat-checkbox [value]="feature" (change)="onSelectFeature($event)" class="example-margin">{{feature}}</mat-checkbox>
    </div>
  </div>
  <div class="button-group">
    <button [disabled]="disableButton()" mat-raised-button color="primary" (click)="onSearch()">Search</button>
    <button [disabled]="!featureResponse" mat-raised-button color="warn" (click)="clearSelected()">Clear</button>
  </div>
</article>

<article *ngIf="featureResponse && featureResponse.features.length > 0" class="search-result">
  <app-feature-list [features]="featureResponse.features"></app-feature-list>
</article>

<article *ngIf="!featureResponse" class="search-result">
  <p>Nothing to show..</p>
</article>